* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html { /* Deixa o rolagem da página mais suave*/
    scroll-behavior: smooth;
}

:root { /*Cores personalizada, esses comando fazem com que selecione elas pelo nome*/
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #020f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao { /*Deixa a barra de navegação fixa e transparente para acessar os outros links*/
    position: fixed;
    top: 0;
    background-color: rgb(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-self: center;
    list-style: none;
    gap: 3rem;

}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after { /*Fazer o efeito do traço do menu ao mouse para emcima, junto com o código abaixo*/
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil {
    width: 250x;
    height: 250px;
    box-shadow: 0 0 20px rgb(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite; /*O efeito flutuar foi criado no ultimo código com keyframes*/
}

h1 {
    font-size: 3rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 10px;
}

.cabecalho-2 {
    font-size: 1.5rem;
    color: var(--claro);
    margin-bottom: 50px;
}

.sobre-titulo {
    font-size: 2rem;
    margin:20px;
    color: var(--primaria);
    margin-right: 30px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--claro);
    backdrop-filter: blur(10px);
    background: var(--vidro);
}

.sobre-paragrafo {
    font-size: 1rem;
}

.formacao{
    font-size: 1.1rem;
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card { /*Design dos card, transition ajuda a suaveziar a imagens voltar ao lugar ao passar o mouse*/
    background: var(--vidro);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--claro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    margin-top: 50px;
}

.projetos-card:hover { /*Fazer as imagens se mecher ao passar o mouse*/
    box-shadow: var(--primaria);
    transform: translateY(-10px) scale(1.03);
}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.caixa-textos-projetos {
    padding: 1.5rem;
}

.pragrafo-projetos {
    color: var(--vidro);
    line-height: 1.25rem;
}

.info-projetos {
    margin-bottom: 5px;
}

.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    margin-top: 100px;
}

.formulario-contato { /*Efeito nas caixa de contato*/
    max-width: 600px;
    margin: 0 auto;
    background: var(--vidro);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--claro);
    border-radius: 16px;
}

.campo-form { /*Efeito nos input da caixa*/
    width: 100%;
    padding: 1rem;
    background: var(--escuro);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--claro);
    outline: none;
}

.campo-form:focus {
    color: var(--claro);
    box-shadow: 0 0 10px var(--secundaria);
}

.grupo-form {
    margin-bottom: 2rem;
}

.botao-form{ /*Botão personalizado de enviar para whatsapp*/
    color: var(claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botao-form:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 15px var(--primaria);
}

.particulas{     /*Efeito dos circulo fixado na tela*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
    radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
    var(--maisEscuro);
}

@keyframes flutuar { /*efeito para fazer a foto do perfil de mecher*/
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}